body {
  background: rgb(53, 51, 51);
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid silver;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: blue;
}

a:visited {
	color: greenyellow;
}


input {
	display: block;
}

img {
	max-width: 300px;
}